@model HomeModel
@{
    ViewData["Title"] = "Locadora Pablito - TOP Filmes";
}

<div class="text-center">
    <h3 class="display-4">Locadora Pablito - @Model.dataCorrente</h3>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>Acervo para Entrega Hoje:</p>
</div>
